[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
snapshottest = "*"
pytest = "*"
pytest-cov = "*"
black = "==21.12b0"

[packages]
numpy = "*"
python-dateutil = "*"
dateparser = "*"
arrow = "*"

[pipenv]
allow_prereleases = true
