[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
dateparser = "*"
arrow = "*"
pendulum = "2.1.2"
pydash = "*"

[dev-packages]
pytest-snapshot = "0.8.1"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"