[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = ">=21.12b0"

[packages]
numpy = "*"
python-dateutil = "*"
dateparser = "*"
arrow = "*"
pendulum = "2.1.2"
pydash = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"